# Projeto Integrador - Grupo 4

## 1.Definição do problema a ser atacado
Por que o Brasil têm baixa eficiência nos resultados de educação com investimento comparável com os primeiros colocados (problema a ser verificar)

## 2.Coleta de dados e informações

De acordo com o site resultadoenade.com [1] a evasão está relacionada com seis fatores:
1. Baixa qualidade do ensino médio
2. Inadimplência
3. Estagnação do método de ensino
4. Indisponibilidade de tempo
5. Motivos pessoais
6. Não identificação com o curso

No estudo _Causas de evasão de alunos nos cursos de graduação presencial da UFPE_ [2], podemos encontrar as causa de evasão de diversas Universidades do Brasil resumidas no Quadro 1 abaixo.

Ainda de acordo com esse mesmo estudos os fatores principais de evasão são:
1. Fatores Individuais --> 60,22% 
2. Fatores Externos à UFPE --> 24,46%
3. Fatores Internos à UFPE --> 8,87%
4. Fatores Individuais e Externos à UFPE --> 4,03%
5. Fatores Internos e Externos à UFPE --> 1,61%
6. Fatores Individuais e Internos à UFPE --> 0,81%

<img src='img/evasões.jpg' alt="Motivos de Evasão Universidades Brasil" width="600" height="600" style="float:left">

## 3.Definição das hipóteses
1.As condições sociais...

## 4.Análise e discussão dos dados

## 5.Bibliografia
[1]http://www.resultadoenade.com/6-fatores-que-influenciam-a-evasao-escolar-no-ensino-superior/

[2]RAPOSO, M.C.F.; CAMPOS, J.D.S. Causas de evasão de alunos nos cursos de graduação presencial da UFPE. Recife, 2016, p.7.

[3]https://guiadoestudante.abril.com.br/universidades/cerca-de-900-mil-estudantes-abandonam-a-faculdade-antes-de-se-formar/

[4]https://opiniao.estadao.com.br/noticias/geral,a-evasao-no-ensino-superior,70002195900

In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('Dados\DP_LIVE_24102018031945916.csv')

In [5]:
df.head()

  LOCATION INDICATOR SUBJECT      MEASURE FREQUENCY  TIME  Value Flag Codes
0      AUT    EDUEXP     TRY  USD_STUDENT         A  1995    NaN          M
1      AUT    EDUEXP     TRY  USD_STUDENT         A  2000    NaN          M
2      AUT    EDUEXP     TRY  USD_STUDENT         A  2005    NaN          M
3      AUT    EDUEXP     TRY  USD_STUDENT         A  2008    NaN          M
4      AUT    EDUEXP     TRY  USD_STUDENT         A  2009    NaN          M

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5401 entries, 0 to 5400
Data columns (total 8 columns):
LOCATION      5401 non-null object
INDICATOR     5401 non-null object
SUBJECT       5401 non-null object
MEASURE       5401 non-null object
FREQUENCY     5401 non-null object
TIME          5401 non-null int64
Value         2507 non-null float64
Flag Codes    2894 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 337.6+ KB